fastapi
uvicorn
sqlalchemy
psycopg[binary]
pydantic
pydantic-settings
python-jose[cryptography]
PyJWT
passlib[bcrypt]
bcrypt
python-multipart
requests
cloudinary
boto3
twilio
redis
pika
python-dotenv
flask
flask-cors
opencv-contrib-python==4.10.0.84
paddleocr
pillow
paddlepaddle
ultralytics
torch>=2.1
mediapipe==0.10.14
